github "Alamofire/Alamofire"
github "CocoaLumberjack/CocoaLumberjack"
github "tristanhimmelman/ObjectMapper" ~> 3.4
github "tristanhimmelman/AlamofireObjectMapper" ~> 5.2
github "ReactiveX/RxSwift" ~> 4.0
github "ReactorKit/ReactorKit"
github "RxSwiftCommunity/RxAlamofire" ~> 4.4
github "Alamofire/AlamofireImage" ~> 3.5
github "realm/realm-cocoa"
github "RxSwiftCommunity/RxRealm"